a {
  color: black;
}
body {
  color: #ffffff;
  background-color: #222222;
  position: relative;
  min-height: 100vh;
  padding-bottom: 10rem;
}
.icon {
  color: #08b4e0;
}
/* Navbar */
.container-fluid {
  background-color: white;
  padding: 1rem;
}
.nav-item::before {
  content: none;
}
.navbar {
  padding-right: 3rem;
  font-size: 110%;
}
.navbar-brand {
  font-size: 130%;
  font-weight: 500;
}
.navbar-nav {
  text-indent: 0;
  padding-left: 0;
}

/* Intro */
#intro {
  min-height: 100vh;
  background: linear-gradient(
    to right,
    #222222 0%,
    #222222 45%,
    #444444 45%,
    #444444 100%
  );
}
.intro-card {
  margin-right: 0;
  margin-left: auto;
  background-color: #333333;
  width: 23rem;
  height: auto;
  text-align: center;
}
.headshot {
  width: 80%;
  height: auto;
  margin: 1rem auto;
}
.social-section {
  background-color: #ffffff;
  padding: 7px;
}
.social-icon {
  padding: 0 1rem;
  font-size: 25px;
}
a:hover {
  color: #08b4e0;
}
.row {
  margin: 0;
}
.big-heading {
  font-size: 600%;
  margin: 1rem 0;
}
.intro-text {
  font-size: 120%;
  max-width: 25rem;
}
.intro-btn {
  margin: 30px 10px 30px 0;
  width: 115px;
}
.btn-primary {
  background-color: #08b4e0 !important;
  border-color: #08b4e0;
}
.btn-primary:hover {
  background-color: #222222 !important;
  border-color: #08b4e0;
  color: #08b4e0;
}

/* Sections */
.sections {
  padding: 7% 5% 0 5%;
}
.section-heading {
  padding-bottom: 2%;
  text-align: center;
  margin: 0;
  font-weight: bold;
}

/* About Me */
.i-do-title {
  margin-top: 3rem;
  font-weight: bold;
}
.i-dos {
  margin-top: 2rem;
  padding-left: 0;
}
span {
  color: #08b4e0;
  font-weight: bold;
}
.about-img {
  width: 100%;
}
.about-card {
  background-color: #444444;
}

/* Skills */
ul {
  list-style: none;
  columns: 2;
  list-style-position: outside;
  text-indent: -3rem;
  padding-left: 3rem;
}
ul li::before {
  content: '\25AA';
  color: #08b4e0;
  list-style-type: square;
  padding-right: 0.6em;
  font-size: 3em;
  position: relative;
  top: 0.2em;
}
li {
  padding-right: 1rem;
  line-height: 1.5em;
  margin-right: 1rem;
}
.skill-uh {
  columns: 1;
}
.skill-col {
  padding-left: 10rem;
}

/* Projects */
#projects {
  background-color: #222222;
}
.project-card {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: #333333;
  margin-bottom: 5rem;
}
.project-img {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.project-ul {
  columns: 1;
}
.project-btn {
  margin-bottom: 1rem;
  margin-left: 30%;
  margin-right: auto;
}

/* Footer */
#footer {
  padding: 1rem 1rem;
  text-align: center;
  color: #222222;
  background-color: #ffffff;
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* Contact */

#contact {
  padding-left: 10%;
  padding-right: 10%;
}
.contact-card {
  width: 80%;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
.contact-input {
  background-color: #222222 !important;
  color: #ffffff !important;
  border-color: #999999;
  border-width: 0.15rem;
  font-weight: bold;
}
.contact-title {
  margin-top: 0.8rem;
}
.info-card {
  background-color: #333333;
  text-align: center;
  font-size: 110%;
  margin-bottom: 7%;
  margin-top: 5%;
  margin: 5% 5% 7% 0;
  border-color: #666666;
  border-radius: 0%;
}
.info-icon {
  margin: 1rem;
  font-size: 175%;
  color: #08b4e0;
}
.info-col {
  padding-left: 0;
}
.title {
  text-align: center;
}
input {
  height: 3.2rem;
}
.submit-btn {
  border-color: #08b4e0;
  border-width: 0.15rem;
  width: 200px;
  border-radius: 2rem;
  font-weight: 500;
}
.submit-btn:hover {
  background-color: #08b4e0;
  color: #ffffff;
  border-color: #08b4e0;
}

@media (max-width: 991px) {
  .card {
    margin-left: auto;
    margin-right: auto;
  }
  .skill-col {
    padding-left: 1rem;
  }

  .intro-card {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  ul {
    columns: auto;
  }
  .project-card {
    width: 100%;
  }
  .project-img {
    width: 100%;
  }
  #intro {
    background: #444444;
  }
  .contact-card {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .info-col {
    padding: 0%;
  }
}
